{% extends "index.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Other Stuff</h1>
    </div>
    <h3>Gifts</h3>
        <li>This is the link for the registry</li>
    <h3>While in Sydney</h3>
        <h5>Manly</h5>
        <h5>CBD</h5>
    <h3>Where to Stay</h3>
        <h5><a href="https://www.tripadvisor.com.au/Hotels-g552103-Manly_Greater_Sydney_New_South_Wales-Hotels.html">Manly</a></h5>
        <h5>CBD</h5>
    <h3>Continued Celebrations</h3>
        <h6>8th Oct</h6>
          <li>Chardy Party</li>
        <h6>9th Oct</h6>
          <li>Beach Party</li>
</div>
{% endblock %}
